@keyframes fadeIn {
  from { 
    filter: blur(15px);
    opacity: 0; }
  to { 
    filter: blur(0px);
    opacity: 1; }
}
@keyframes slideUp {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(0);
    }
}