@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../animation.css');

body {
    background: #ffffee;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    overflow: hidden;
    animation: fadeIn 0.8s ease forwards;
}

.about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-left: 200px;
}

.about p {
    color: #222222;
    max-width: 75vh;
    font-size: 24px;
    font-weight: 700;
    animation: slideUp 1s cubic-bezier(0.12, 0.8, 0, 0.98);
}

.corner-image {
    position: fixed;
    bottom: -35px;
    right: 50px;
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    z-index: 500;
    animation: slideUp 0.8s cubic-bezier(.25,.1,.25,1);
    transition: all 0.2s cubic-bezier(0.1, 0.74, 0.74, 1);
}

.corner-image:hover {
    right: 42.5px;
    max-width: 165px;
    max-height: 165px;
    transition: all 0.2s cubic-bezier(0.1, 0.74, 0.74, 1);
}

@media (max-width: 768px) {
    .about {
        padding-left: 150px;
    }
}