@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../animation.css');

body {
    background: #ffffee;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    overflow: hidden;
    animation: fadeIn 0.8s ease forwards;
}

.about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-left: 200px;
}

.about .icon {
    position: fixed;
    top: 15%;
    left: 50%;
    scale: 0.3 0.3;
    opacity: 0;
    width: 28px;
    transition: all 0.2s ease;
    animation: fadeOut 0.2s ease;
}

.about .a1{
    animation: slideUp 0.8s cubic-bezier(.25,.1,.25,1);
}
.about .a2 {
    animation: slideUp 1s cubic-bezier(.25,.1,.25,1);
}
.about .a3 {
    animation: slideUp 1.2s cubic-bezier(.25,.1,.25,1);
}

.about a {
    text-decoration: none;
    color: #444444;
    max-width: 75vh;
    font-size: 30px;
    font-weight: 700;
    scale: 1 1;
    transition: all 0.3s ease;
}

.about a:hover{
    scale: 1.2 1.05;
    transition: all 0.3s ease;
}
.about .a1:hover{
    color: #1C1C1C;
    text-shadow: 0px 0px 8px rgba(28, 28, 28, 0.5);
}
.about .a2:hover{
    color: #42AAFF;
    text-shadow: 0px 0px 8px rgba(66, 170, 255, 0.5);
}
.about .a3:hover{
    color: #003153;
    text-shadow: 0px 0px 8px rgba(0, 49, 83, 0.4);
}

.about a:hover .icon{
    animation: fadeIn 0.4s ease;
    scale: 1 1;
    left: 105%;
    opacity: 1;
    transition: all 0.4s ease;
}
.about .a2:hover .icon{
    left: -25%;
}

.corner-image {
    rotate: -15deg;
    position: fixed;
    bottom: -30px;
    right: 0px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    z-index: 500;
    animation: slideUp 0.8s cubic-bezier(.25,.1,.25,1);
    transition: all 0.2s cubic-bezier(0.1, 0.74, 0.74, 1);
}

.corner-image:hover {
    max-width: 215px;
    max-height: 215px;
    transition: all 0.2s cubic-bezier(0.1, 0.74, 0.74, 1);
}

@media (max-width: 768px) {
    .about {
        padding-left: 150px;
    }
}